@page
@model FeaturesModel
@{
    ViewData["Title"] = "Features";
}

<div class="container">
    <h1 class="nexaBold text-uppercase syncRed mt-3">@ViewData["Title"]</h1>
    <p>Sync Mine Safety provides everything you need to manage your training on a single pane of glass from any device your company might use. We free you from the administrative burden associated with safety training, task code training, classes and campaigns, employee certifications, annual refreshers and recertifications, and provide you with all of the notifications you need when you need them. Paper can get lost in the shuffle, but with Sync Mine Safety all of the information from your back office fits in your back pocket and can be accessed with pick and click simplicity.</p>

    <div class="row mt-3">
        <div class="card-deck">

            <div class="card">
                <img src="~/images/cards/features/Card_SafetyFirst.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Safety Training</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Get Everyone Home Safe Everyday</h6>
                    <p class="card-text">Your workers rely on their training to keep them safe, and their trainers to deliver the information they need. Free up your trainers and supervisors to do what they do best by making sure they don't get bogged down with paperwork. Let them focus on what's most important: getting everyone home safe everyday.</p>

                </div>
            </div>

            <div class="card">
                <img src="~/images/cards/features/Card_Notifications.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Notifications You Need</h5>
                    <h6 class="card-subtitle mb-2 text-muted">A Supervisor-centric&trade; Approach</h6>
                    <p class="card-text">Make sure your crews know exactly what they need to do when they start the day and have clear visibility into any upcoming tasks that need to be completed. Give your supervisors real-time notifications so no trainings or certifications ever lapse. Keep everyone up to date and on the same paperless page. </p>

                </div>
            </div>

            <div class="card">
                <img src="~/images/cards/features/Card_Paperless.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drive Paper Out of the Process</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Digitally Transform Training & Compliance</h6>
                    <p class="card-text">Paperwork doesn't make you money and it doesn't keep your workers safe so focus on what does. We're the best in the industry at removing paper from your processes. We can integrate with your existing ERP, HR, or other supporting systems to give you the data you need when you need it and remove the headaches caused by paper.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="card-deck">

            <div class="card">
                <img src="~/images/cards/features/Card_Task.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Task Code Training</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Get Everyone Home Safe Everyday</h6>
                    <p class="card-text">Empower your trainers to deliver great training directly in the field. Access the documents and training processes you need to conduct task code training right next to the equipment your crews are training on to increase effectiveness and knowledge retention. </p>

                </div>
            </div>

            <div class="card">
                <img src="~/images/cards/features/Card_Certification.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Employee Certifications</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Progress with Everyone on the same Page</h6>
                    <p class="card-text">
                        Sync's Task Code Training facilitates great trainers delivering great detailed equipment and ops training one-on-one or in small groups, on-site in front of the asset in the field or underground, checking off each task items as it is reviewed
                    </p>

                </div>
            </div>

            <div class="card">
                <img src="~/images/cards/features/Card_Class.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Classes & Campaigns</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Crystal Clear Visibility into Your Training</h6>
                    <p class="card-text">
                        Organizing and executing specific training campaign programs for groups of individuals is an important task in keeping people up to date on changes and in compliance when specific details for review are mandated by MSHA.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="card-deck">
            <div class="card">
                <img src="~/images/cards/features/Card_Calendar.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Annual Refresher</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Progress with Everyone on the same Page</h6>
                    <p class="card-text">

                        Managing the Annual Refresher training process is an intensive annual task for the Safety Administrator.  Scheduling the sessions then ensuring everyone is put in sessions, notified, attends and signs off for 5000-23 certification.  Sync simplifies these tasks, acting as a digital assistance to guide you through the process.
                    </p>

                </div>
            </div>

            <div class="card">
                <img src="~/images/cards/features/Card_HeavyMachine.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Annual Recertifications</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Crystal Clear Visibility into Your Training</h6>
                    <p class="card-text">
                        Ensuring all workers are in compliance with the annual MSHA Task Code Training Recertification to validate that they are up to speed on their Task Codes is a critical compliance requirement.  Previously an intensive manual paper process, it happens with a few clicks in Sync through a simple to use interface for the Supervisors to review with their workers.
                    </p>

                </div>
            </div>

            <div class="card">
                <img src="~/images/cards/features/Card_Mobile.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Use Any Device</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cross-Platform Technology at its Finest</h6>
                    <p class="card-text">Works from any device. Train directly in the field  </p>

                </div>
            </div>


        </div>
        <div class="jumbotron mt-3 mb-3">
            <h2 class="nexaBold syncRed">STICK TO WHAT YOU DO BEST</h2>
            <p class="lead">In-House Solutions are Destined to Fail</p>
            <hr class="my-4">
            <p>Great miners don't want to work at Google. The best software developers don't apply for positions at mines. We've seen countless companies try to develop in-house solutions and the best case scenario is usually a mess of disparate systems trying to talk to each other and never truly achieving the final goal of getting rid of paper and improving productivity or worse - having that developer you hired who is the only one who understands the code take another job leaving you with a system you can't maintain and wasting the time and money you invested. </p>
            <p> Our system has been battle tested by use in rugged environments for the better part of a decade. We're the experts that can have you up and running quickly, pull data in from your ERP, HR, or any other systems, provide always available assistance to your admins, and bring your new folks up to speed when you have employee turnover. </p>
        </div>
    </div>

</div>
